[Unit]
Description = CanucksBot Service
After=network.target auditd.service mongod.service

[Service]
Environment=PATH_TO_JAR=/canucksbot/builds/canucksbot
Environment=BOT_KEY=<BOT_SECRET_KEY>
WorkingDirectory=/canucksbot
ExecStart = /usr/bin/java -cp $PATH_TO_JAR com.hazeluff.discord.canucks.bot.BotRunner $BOT_KEY
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy = multi-user.target
