<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<properties>
		<property name="name">CanucksBot</property>
		<property name="pattern">%d{HH:mm:ss.SSS} [%-21t] [%-5p] [%-30c{1}] - %msg%n</property>
	</properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
				<pattern>${pattern}</pattern>
			</PatternLayout>
        </Console>
        
        <RollingFile name="File" fileName="logs/${name}.log"
			 	filePattern="logs/$${date:yyyy-MM}/${name}-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<pattern>${pattern}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy /><!-- Rotated everyday -->
				<SizeBasedTriggeringPolicy size="10 MB"/> <!-- Or every 10 MB -->
			</Policies>
		</RollingFile>
		
        <RollingFile name="ErrorFile" fileName="logs/${name}.err"
				 filePattern="logs/$${date:yyyy-MM}/${name}-%d{yyyy-MM-dd}-%i.err">
			<PatternLayout>
				<pattern>${pattern}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy /><!-- Rotated everyday -->
				<SizeBasedTriggeringPolicy size="10 MB"/> <!-- Or every 10 MB -->
			</Policies>
		</RollingFile>		
		
    </Appenders>
    <Loggers>    
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
        </Root>
        
        <logger name="com.hazeluff.discord.cancucksbot" level="INFO" additivity="false">    	
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File" level="INFO"/>
            <AppenderRef ref="ErrorFile" level ="ERROR"/>
		</logger>
    </Loggers>
</Configuration>