<?xml version="1.0" encoding="UTF-8"?>
<configuration>	
	<property name="pattern" value="%d{HH:mm:ss.SSS} [%-21thread] [%-5level] [%-25logger{0}] - %msg%n" />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>${pattern}</pattern>
      </encoder>
    </appender>
    
    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/nhlbot.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>logs/nhlbot-%d{yy-MM-dd}.%i.log</fileNamePattern>
        <maxFileSize>200MB</maxFileSize>    
        <maxHistory>30</maxHistory>
      </rollingPolicy>
      <encoder>
        <pattern>${pattern}</pattern>
      </encoder>
    </appender>
    
    <appender name="ErrorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/nhlbot.err</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>logs/nhlbot-%d{yy-MM-dd}.%i.err</fileNamePattern>
        <maxFileSize>200MB</maxFileSize>    
        <maxHistory>30</maxHistory>
      </rollingPolicy>
      <encoder>
        <pattern>${pattern}</pattern>
      </encoder>
    </appender>    
    
    <logger name="com.hazeluff.discord.nhlbot" level="info" additivity="false">
      <appender-ref ref="Console"/>
      <appender-ref ref="File"/>
    </logger>
    
    <root level="ERROR">
      <appender-ref ref="Console"/>
      <appender-ref ref="File"/>
      <appender-ref ref="ErrorFile"/>
    </root>
    
    
</configuration>